.Header{
    display:flex;
    justify-content:space-between;
}

.logo{
    width:10rem;
    height:3rem;
    height: 80%;
    width:80%;
}

.header-menu{
    list-style: none;
    display:flex;
    gap: 3rem;  
    color:white;

}

.header-menu>li:hover{
    cursor:pointer;
    color: var(--orange)
}